{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center my-5">
    <div class="card col-8 col-lg-4 p-3">
      <h1>Contraseña restaurada</h1>
    
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      
      <p>Te hemos enviado un correo electrónico. Si no lo has recibido, por favor revisa tu carpeta de spam. De lo contrario, contáctanos si no lo recibes en unos minutos.</p>
    </div>
</div>
{% endblock %}
